<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gec.djexam.dao.ExamRoomMapper" >
  <resultMap id="BaseResultMap" type="com.gec.djexam.domain.ExamRoom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="exam_room_num" property="examRoomNum" jdbcType="VARCHAR" />
    <result column="exam_room_place" property="examRoomPlace" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, exam_room_num, exam_room_place
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gec.djexam.domain.ExamRoomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from exam_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exam_room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exam_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gec.djexam.domain.ExamRoomExample" >
    delete from exam_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gec.djexam.domain.ExamRoom" >
    insert into exam_room (id, exam_room_num, exam_room_place
      )
    values (#{id,jdbcType=INTEGER}, #{examRoomNum,jdbcType=VARCHAR}, #{examRoomPlace,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gec.djexam.domain.ExamRoom" >
    insert into exam_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="examRoomNum != null" >
        exam_room_num,
      </if>
      <if test="examRoomPlace != null" >
        exam_room_place,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="examRoomNum != null" >
        #{examRoomNum,jdbcType=VARCHAR},
      </if>
      <if test="examRoomPlace != null" >
        #{examRoomPlace,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gec.djexam.domain.ExamRoomExample" resultType="java.lang.Integer" >
    select count(*) from exam_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update exam_room
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.examRoomNum != null" >
        exam_room_num = #{record.examRoomNum,jdbcType=VARCHAR},
      </if>
      <if test="record.examRoomPlace != null" >
        exam_room_place = #{record.examRoomPlace,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update exam_room
    set id = #{record.id,jdbcType=INTEGER},
      exam_room_num = #{record.examRoomNum,jdbcType=VARCHAR},
      exam_room_place = #{record.examRoomPlace,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gec.djexam.domain.ExamRoom" >
    update exam_room
    <set >
      <if test="examRoomNum != null" >
        exam_room_num = #{examRoomNum,jdbcType=VARCHAR},
      </if>
      <if test="examRoomPlace != null" >
        exam_room_place = #{examRoomPlace,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gec.djexam.domain.ExamRoom" >
    update exam_room
    set exam_room_num = #{examRoomNum,jdbcType=VARCHAR},
      exam_room_place = #{examRoomPlace,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>